body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.block {
    position: relative;
    width: 900px;
    height: 750px;
    border: 2px solid #ff0000;
}

.ship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #ffffff;
}
